[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==3.0.2"
werkzeug = "==3.0.1"
gunicorn = "*"
alembic = "*"
blinker = "*"
certifi = "*"
charset-normalizer = "*"
click = "*"
colorama = "*"
distlib = "*"
filelock = "*"
flask-marshmallow = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
greenlet = "*"
idna = "*"
itsdangerous = "*"
jinja2 = "*"
mako = "*"
markupsafe = "*"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
packaging = "*"
pipenv = "*"
platformdirs = "*"
requests = "*"
setuptools = "*"
sqlalchemy = "*"
typing-extensions = "*"
urllib3 = "*"
virtualenv = "*"

[dev-packages]
flask-debugtoolbar = "*"

[requires]
python_version = "3.12"
