<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <div class="welcome-container">
        <h1>Welcome to API Test</h1>
        <p>This is a simple Flask API application.</p>
        <a href="/register" class="btn-view-users">Register</a>
        <a href="/login" class="btn-view-users">Login</a>
    </div>
</body>
</html>


